.land-page{
    background-color: #91eba9;
    height: 100vh;
    display: flex;
    align-items: center;
}

.land-page__text{
    text-align: center;

}
  
.star-rating {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color .2s ease-out;
}

.star-rating:hover{
    cursor: pointer;
}

.star-rating.is-selected {
    color: #FFD700;
}
  
.my-modal {
    width: 90vw;
    max-width: 90vw !important;
}

.header{
    background-color: #91eba9;

    padding: 1rem 0rem;
}

.header__text{
    text-align: center;
    font-size: 40px;
}

.col{
    margin: 1rem 0rem;
}